.header-container {
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 998;
  min-width: 100vw;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0, 0.9),
    rgb(0, 0, 0, 0.4),
    rgb(0, 0, 0, 0)
  );
  color: #fff;
  transition: backdrop-filter 0.5s ease;
  /* background-color: #000; */
}
.header-container:hover {
  backdrop-filter: blur(10px);
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 99px;
  height: 64px;
  img {
    width: 100%;
    height: 100%;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  gap: 20px;
  > li {
    position: relative;
    padding: 10px 5px 5px;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--color-secondary);
      bottom: 0;
      left: 0;
      transition: scale 0.5s ease;
      scale: 0;
    }
    &:hover {
      .dropdown {
        display: block;
      }
      a {
        color: var(--color-secondary);
      }
      span {
        rotate: -180deg;
      }
      &::after {
        scale: 1;
      }
    }
  }
}
.search-container {
  position: relative;
  display: inline-block;
  max-width: 300px;
}
.search-box {
  width: 300px;

  height: 40px;
  background: rgb(0, 0, 0, 0.1);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-left: 35px;
  outline: none;
  color: rgb(255, 255, 255);
  &::placeholder {
    color: #fff;
  }
  &:focus {
    border: 2px solid var(--color-secondary);
  }
  &::placeholder {
    color: rgb(255, 255, 255, 0.5);
  }
}
.search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 8px;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 14px;
    top: 50%;
    translate: 0 -50%;
    background-color: #fff;
  }
}
.linkNav {
  display: flex;
  transition: color 0.3s ease;
  align-items: center;
  gap: 5px;
  span {
    transition: rotate 0.5s ease;

    display: flex;
    align-items: center;
  }
}
.dropdown {
  position: absolute;
  background-color: rgb(51, 51, 51, 0.5);
  background-color: var(--color-secondary);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  text-wrap: nowrap;
  z-index: 999;
  animation: dropMenu ease 0.3s;
  transition: animation ease-in 0.5s;
  transform-origin: calc(100% - 8px) top;
  display: none;
  right: 0;
  top: calc(100% + 15px);

  &::after {
    content: "";
    position: absolute;
    top: -16px;
    right: 6px;
    width: 1px;
    border: 8px solid;
    border-color: transparent transparent #333 transparent;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: transparent;
    top: -16px;
  }
}
@keyframes dropMenu {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.linkMenu {
  display: block;
  padding: 10px 10px;
  position: relative;
  color: #fff !important;

  &:hover {
    color: #fff !important;
    background-color: var(--color-primary);
  }
}
.login-container {
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    span {
      display: block;
      font-size: 24px;
    }
    &:hover {
      color: var(--color-secondary);
    }
  }
}
.active {
  a {
    color: var(--color-secondary) !important;
  }
}
