:root {
  --background: linear-gradient(
    132deg,
    #121443 10%,
    #2d0336 25%,
    #311448 40%,
    #2d0032 55%,
    #121443 70%,
    #2d0336 85%
  );
  --foreground: linear-gradient(
    132deg,
    #121443 10%,
    #2d0336 25%,
    #311448 40%,
    #2d0032 55%,
    #121443 70%,
    #2d0336 85%
  );
  --size-12: 1.2rem;
  --size-14: 1.4rem;
  --size-16: 1.6rem;
  --size-18: 1.8rem;
  --size-2: 2rem;
  --size-heading-24: 2.4rem;
  --size-heading-32: 3.2rem;
  --size-heading-4: 4rem;
  --color-primary: #2396f3;
  --color-secondary: #8a2be2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      132deg,
      #121443 10%,
      #2d0336 25%,
      #311448 40%,
      #2d0032 55%,
      #121443 70%,
      #2d0336 85%
    );
    --foreground: linear-gradient(
      132deg,
      #121443 10%,
      #2d0336 25%,
      #311448 40%,
      #2d0032 55%,
      #121443 70%,
      #2d0336 85%
    );
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: var(--background);
  /* background-blend-mode: overlay; */
  font-family: var(--font-be-vietnam-pro-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--size-16);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
ul {
  list-style: none;
}
/* main {
  height: 100vh;
} */
.container {
  max-width: 85%;
  margin: auto;
  /* overflow: hidden; */
}
.btn {
  padding: 10px 20px;
  background: var(--color-primary);
  color: #fff;
  font-weight: 600;
  font-size: var(--size-16);
  border-radius: 99px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background: var(--color-secondary);
  }
}

h1,
h2 {
  font-family: var(--font-oswald-sans), sans-serif;
}
.activeHeader {
  backdrop-filter: blur(10px);
}
.wrapper {
  margin-top: 100px;
}
