.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  display: flex;
}
.background_login_resgister {
  width: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
}
.wrapper {
  background: var(--background);
  width: 500px;
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  overflow-y: auto;
  position: absolute;
  right: 0;
}
.formInput {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.logo {
  width: 99px;
  align-self: center;
  height: 64px;
  margin-top: 40px;
  img {
    width: 100%;
    height: 100%;
  }
}
.option {
  align-self: center;
  border-top: none;
  width: 320px;
  border-radius: 99px;
  overflow: hidden;
  border: 2px solid var(--color-primary);
  button {
    font-size: var(--size-2);
    font-weight: 600;
    width: 50%;
    border-radius: 99px;
    padding: 8px 0;
    background-color: transparent;
    color: var(--color-primary);
    outline: none;
    border: none;
  }
}
button.active {
  background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary)
  );
  color: #fff;
}
.input {
  width: 100%;
  height: 40px;
  position: relative;
  top: 20px;
  &:focus-within {
    label {
      transform: translate(-10px, calc(-100% - 15px));
      color: var(--color-primary);
    }
    input {
      border-color: var(--color-primary);
    }
    span {
      color: var(--color-primary);
    }
  }
  input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
  }
  label {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    transition: all 0.5s ease;
    left: 10px;
    font-size: var(--size-14);
  }
  span {
    font-size: var(--size-heading-24);
    position: absolute;
    right: 10px;
    top: 50%;
    translate: 0 -50%;
  }
}
.loginAction {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.loginAction input {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #2396f3;
  border-radius: 3px;
}

.loginAction input:checked {
  background-color: #2396f3;
  border-color: #2396f3;
}
.buttonLogin {
  width: 50%;
}
