.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search_bar {
  input {
    border: 1px solid var(--border-container);
    padding: 10px 10px;
    outline: none;
    border-radius: 5px;
    &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 0 5px var(--color-primary);
    }
  }
}
