.open-btn {
    padding: 10px 20px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .open-btn:hover {
    background-color: #005fcc;
  }
  
  .popup-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .popupContent {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    max-width: 95%;
    margin: 5% auto;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  .close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .popupForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70vh ;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .popupForm input,
  .popupForm textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
  }
  
  .popupForm button {
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .popupForm button:hover {
    background-color: #218838;
  }

.form{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: rgba(0, 0  , 0, 0.5);
    width: 100vw;
    height: 100vh;
}
  
.background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1001;
}

.popupContent{
    position: absolute;
    top: 0;
    left: 50%;
    /* translate: -50% -50%; */
    transform: translateX(-50% );
    z-index: 1002;
}