.header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: #325ac7; tuỳ chọn */
}
  
  /* phần searchBar sẽ tự chiếm 40% còn lại */
.searchBar {
    flex: 1;
    margin-right: 10px;
    position: relative;
}

.searchBar>input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(222, 236, 248);
}


.searchIcon{
    color: rgb(173, 13, 133);
    font-size: 20px;
    position: absolute;
    left: 170px;
    top: 5px;
}

  
  /* phần userInfo chiếm 60% */
.userInfo {
    flex: 0 0 60%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}
  
.notifications,
.messages,
.profile {
    position: relative;
}
  
.badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 999px;
    font-size: 10px;
}

.mess{
    background-color: green;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
  