.header {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: linear-gradient(180deg, rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0));
  color: #fff;
  transition: backdrop-filter 0.5s ease;
  /* background-color: #000; */
}
.header:hover {
  backdrop-filter: blur(10px);
}
.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  gap: 20px;
  > li {
    position: relative;
    padding: 10px 5px 5px;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #c82222;
      bottom: 0;
      left: 0;
      transition: scale 0.5s ease;
      scale: 0;
    }
    &:hover {
      .dropdown {
        display: block;
      }
      a {
        color: #c82222;
      }
      span {
        rotate: -180deg;
      }
      &::after {
        scale: 1;
      }
    }
  }
}
.search-container {
  position: relative;
  display: inline-block;
}
.search-box {
  max-width: 250px;
  height: 35px;
  background: rgb(0, 0, 0, 0.1);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  padding-left: 35px;
  outline: none;
  color: rgb(255, 255, 255);
  &::placeholder {
    color: #fff;
  }
}
.search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 8px;
  translate: 0 -50%;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 14px;
    top: 50%;
    translate: 0 -50%;
    background-color: #fff;
  }
}
.linkNav {
  display: flex;
  transition: color 0.3s ease;
  align-items: center;
  gap: 5px;
  span {
    transition: rotate 0.5s ease;

    display: flex;
    align-items: center;
  }
}
.dropdown {
  position: absolute;
  background-color: rgb(51, 51, 51, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  text-wrap: nowrap;
  z-index: 999;
  animation: dropMenu ease 0.3s;
  transition: animation ease-in 0.5s;
  transform-origin: calc(100% - 8px) top;
  display: none;
  right: 0;
  top: calc(100% + 15px);

  &::after {
    content: "";
    position: absolute;
    top: -16px;
    right: 6px;
    width: 1px;
    border: 8px solid;
    border-color: transparent transparent #333 transparent;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: transparent;
    top: -16px;
  }
}
@keyframes dropMenu {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
.linkMenu {
  display: block;
  padding: 10px 10px;
  color: #fff !important;
  &:hover {
    color: #c82222 !important;
  }
}
