.title {
  font-size: 24px;
  padding: 20px 0;
}

.info_film {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 20px 0;
}

.info_film_left {
  img {
    width: 300px;
  }
}

.info_film_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .info {
    padding: 8px 0;
  }
  .view_trailer {
    width: 200px;
  }
}
.contents {
  display: flex;
  gap: 30px;
}
.video {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
